{{ define `foot` }}
<footer role="contentinfo">
    <div class="container clear">
        <a class="button is-primary" href="https://facebook.com/dkotik">facebook</a>
        <a class="button is-primary" href="https://twitter.com/dkotik">twitter</a>
        <a class="button is-primary" href="https://mastodon.social/@dkotik">mastodon</a>
        <a class="button is-primary" href="https://keybase.io/dkotik">keybase</a>
    </div>
</footer>
{{ end }}
