---
import Default from '../layouts/Default.astro'
import Book from '../layouts/Book.astro'
---

<Default
  title="Dima Kotik"
  description="Dima Kotik is a historian on a quest to inspire others to reinvest their lives into efforts that last. He challenges his readers to find meaning and identity in Christ by reflecting on the past, and to discover a new sense of purpose and significance in continuing Christ’s legacy. Dima challenges conventional practices and thought patterns with fresh and daring insights honed in thoughtful exploration of history."
  keywords="dkotik dima kotik Life coach historian tech enthusiast"
  class="frontpage"
>
  <h1>Dima Kotik: Author Profile</h1>

  <p>Dima Kotik is on a quest to inspire others to reinvest their lives into efforts that last. He challenges his readers to find meaning and identity in Christ by reflecting on the past, and to discover a new sense of purpose and significance in continuing Christ’s legacy.</p>

  <h1 style="margin-top: 2.5em;">Books</h1>

  <Book
    title="Divine Energy in Orthodox Liturgy"
    url="https://www.amazon.com/Divine-Energy-Orthodox-Liturgy-Christian/dp/1468100025/"
    img="/img/books/divine-energy.jpg"
  >
    <p>A dialog between a westerner and an easterner can be reminiscent of a first contact scene between two alien civilizations from a typical science fiction movie. Premises that underlie either intellectual world are poised in defiance of any cultural intuition. We are confused and have a difficult time understanding one another. “Divine Energy in Orthodox Liturgy” is a journey into the single most concentrated locus of Eastern thought, the Byzantine Liturgy, in which you will discover the heart of pure Eastern mysticism in its vibrant Christian forms. On this journey, you will gain the ability to better understand and appreciate both historic Christianity and Eastern thought as a whole.</p>
  </Book>


  <Book
    title="Survive the Gaming Apocalypse"
    url="https://www.amazon.com/Survive-Gaming-Apocalypse-Dima-Kotik/dp/1494771101/"
    img="/img/books/gaming-apocalypse.jpg"
  >
    <p>Even if you stayed away from computer games, they did not stay away from you. They found their way into your pocket. And now that they made a little nest there, your kids got their hands on it. You, or someone you know and care about deeply, are becoming entangled with the virtual world of computer games. Technology is a dangerous tool in careless hands. If you are seeking to understand better what those dangers are and how to deal with them, especially in the area of electronic entertainment, this book is for you..</p>
  </Book>
</Default>

<!--
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
	</body>
</html>
-->

<style>
  h1 {
    font-family: sans-serif;
    font-size: 2em;
  }

  h1+p {
    font-size: 1.5em;
  }
</style>
