---
import Default from "../layouts/Default.astro";
// import Book from "../layouts/Book.astro";
---

<Default
  title="Why Free Open-Source Software Matters"
  description="Dima Kotik explains why free open source software and hardware matters."
  keywords="dkotik dima kotik free open-source software technology golang enthusiast"
  class="frontpage"
>
  <h1>Why is Open-source Software More Important than Hardware?</h1>

  <p>
    Hardware devices change over time in more predictable and observablable ways
    than software code. They become dependable and trusted as long as they do
    not easily brick. We do not reasonbly expect our phone to weld on itself a
    sharp blade-wielding appendage, cover itself with a camouflage cape, hide in
    our home potted plant, and lie in ambush for an unsuspecing member of our
    household to pass by within its striking range.
  </p>

  <p>
    Software, on the other hand, does exactly that. Instead of losing utility
    with age, it grows new functionalities with each update like tumors. And,
    what any next mutation might turn the software into, nobody knows.
  </p>

  <p>
    Actually, we do know. Consequitive software updates turn devices into
    surviallance apparatus.
  </p>

  <aside>
    <a class="button" href="/" title="back to home page">Back</a>
  </aside>
</Default>

<style>
  h1 {
    text-align: center;
  }
</style>
