---
import Default from "../layouts/Default.astro";
// import Book from "../layouts/Book.astro";
---

<Default
  title="Why Free Open-Source Software Matters"
  description="Dima Kotik explains why free open source software matters."
  keywords="dkotik dima kotik free open-source software technology golang enthusiast"
  class="frontpage"
>
  <h1>Why Free Open-Source Software Matters</h1>

  <p>
    Ownership is a fundamental issue in the digital age. If a government or a
    company provides software updates for your device, they own your device.
    They can degrade or disable it at any time. They can collect any data from
    it.
  </p>

  <p>
    Their promises are legally unenforcible and meaningless, because the
    fundamental nature of our commercial relationship changes in the long run.
    As our reliance on technology grows, our well-being becomes more dependent
    on the software that powers it and hardware that runs it.
  </p>

  <p>
    We grow in reliable in order to be productive at work and to be comfortable
    at home. The stronger our attachment, the greater is the price that can be
    extracted from us by the current or future owner of such technology.
  </p>

  <p>
    We can restore the relationship balance by switching over to open-source
    software for things that are most essential to us.
  </p>

  <!-- <p>
    Free open-source software is a cornerstone of modern technology. It is the
    foundation of the internet, the operating system of the cloud, and the
    backbone of the digital economy. Free open-source software is the reason why
    we have the internet as we know it today. It is the reason why we have
    smartphones, social media, and e-commerce. It is the reason why we have
    self-driving cars, artificial intelligence, and the internet of things. Free
    open-source software is the reason why we have the world we live in today.
  </p> -->

  <aside>
    <a class="button" href="/" title="back to home page">Back</a>
  </aside>
</Default>

<style>
  h1 {
    text-align: center;
  }
</style>
