---
import Default from "../layouts/Default.astro";
// import Book from "../layouts/Book.astro";
---

<Default
  title="Why Free Open-Source Software Matters"
  description="Dima Kotik explains why free open source software matters."
  keywords="dkotik dima kotik free open-source software technology golang enthusiast"
  class="frontpage"
>
  <h1>Why Free Open-Source Matters</h1>

  <p>
    Ownership is a fundamental issue in the digital age. If a government or a
    company provides software updates for your device, they own your device.
    They can degrade or disable it at any time. They can collect any data from
    it.
  </p>

  <p>
    Their promises to respect boundaries are known to be meaningless, because
    the fundamental nature of the commercial relationship with customers changes
    in the long run.
  </p>

  <p>
    Our dependency on technology swells over time as we increasingly rely it to
    become productive at work and comfortable at home. Medical devices keep us
    alive. The stronger our attachment, the greater is the price that will be
    extorted from us by the current or future owner of such technology with no
    regard to prior contract obligations.
  </p>

  <p>
    Free open-source devices and software are maintained by community volunteers
    in full transparency of the public eye with full history of all changes.
    Even when maintainers are bought out, the community is able to start over
    with a fork of the project in its last free state. We restore the
    relationship balance with the market and the government by switching over to
    open-source software for things that are essential for well-being.
  </p>

  <aside>
    <a class="button" href="/" title="back to home page">Back</a>
  </aside>
</Default>

<style>
  h1 {
    text-align: center;
  }
</style>
